.banner {
  background: #1D3557;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
}
.banner-title {
  color: #FFFFFF;
}

.home {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.content {
  margin: auto;
  width: 70%;
  padding: 10px 0px;
  background:  #f5f5da;
  display: inline-block;
  border-radius: 10px;
}
.cat { 
  width: 20%;
}
.dog {  
  width: 20%;
}
